[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/ihavn/VIA_FreeRTOS_AVRMEGA
[submodule "GccApplication1/FreeRTOS"]
	path = GccApplication1/FreeRTOS
	url = https://github.com/ihavn/VIA_FreeRTOS_AVRMEGA
